{% extends 'base.html.twig' %}

{% block title %}MyEntity index{% endblock %}

{% block body %}
    <h1>MyEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Weight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_entity in my_entities %}
            <tr>
                <td>{{ my_entity.id }}</td>
                <td>{{ my_entity.name }}</td>
                <td>{{ my_entity.age }}</td>
                <td>{{ my_entity.weight }}</td>
                <td>
                    <a href="{{ path('app_my_entity_show', {'id': my_entity.id}) }}">show</a>
                    <a href="{{ path('app_my_entity_edit', {'id': my_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_my_entity_new') }}">Create new</a>
{% endblock %}
